In [2]:
import pandas
import pandasql

FILE = './weather-underground.csv'

def num_rainy_days(filename):
    weather_data = pandas.read_csv(filename)
    q = """
        SELECT
        count(rain)
        FROM
        weather_data
        where rain = 1
        group by
        rain;
        """
    # Execute your SQL command against the pandas frame
    rainy_days = pandasql.sqldf(q.lower(), locals())
    return rainy_days

num_rainy_days(FILE)

   count(rain)
0           10

In [3]:
def max_temp_aggregate_by_fog(filename):

    weather_data = pandas.read_csv(filename)

    q = """
    SELECT 
    fog, max(maxtempi)
    FROM
    weather_data
    GROUP BY
    fog;
    """

    # Execute your SQL command against the pandas frame
    foggy_days = pandasql.sqldf(q.lower(), locals())
    return foggy_days

max_temp_aggregate_by_fog(FILE)

   fog  max(maxtempi)
0    0             86
1    1             81

In [4]:
def avg_weekend_temperature(filename):
    weather_data = pandas.read_csv(filename)

    q = """
    SELECT
    avg(cast(meantempi as integer))
    FROM
    weather_data
    WHERE
    cast (strftime('%w', date) as integer) = 0
    OR
    cast (strftime('%w', date) as integer) = 6;
    """

    # Execute your SQL command against the pandas frame
    mean_temp_weekends = pandasql.sqldf(q.lower(), locals())
    return mean_temp_weekends

avg_weekend_temperature(FILE)

   avg(cast(meantempi as integer))
0                        65.111111

In [5]:
def avg_min_temperature(filename):

    weather_data = pandas.read_csv(filename)

    q = """
    SELECT
    avg(cast(mintempi as integer))
    FROM
    weather_data
    WHERE
    rain = 1
    AND
    mintempi > 55;
    """

    # Execute your SQL command against the pandas frame
    avg_min_temp_rainy = pandasql.sqldf(q.lower(), locals())
    return avg_min_temp_rainy

avg_min_temperature(FILE)

   avg(cast(mintempi as integer))
0                           61.25

In [7]:
import csv
turnstile_data_files = ['turnstile_110507.txt']
def fix_turnstile_data(filenames):
    for name in filenames:
        with open(name, 'rt') as f:
            result = []
            reader = csv.reader(f)
            for row in reader:
                counter = 0
                while (counter < len(row)-3):
                    result.append(row[0:3]+row[(3+counter):(8+counter)])
                    counter = counter+5
            with open('updated_'+name, 'wt') as m:
                writer = csv.writer(m)
                writer.writerows(result)

fix_turnstile_data(turnstile_data_files)